/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
body {
  background-color: #000;
  color: #fff;
  font-family: "Courier New", monospace;
  font-size: 12pt;
  text-align: center;
}

a {
  color: #bfbfff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

#wrapper {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  margin: auto;
  text-align: left;
  position: relative;
  width: 48em;
  padding: 8px;
}

#header {
  border-bottom: 1px solid #ccc;
}

#title {
  display: inline-block;
}

#title > a {
  font-weight: bold;
  text-decoration: none;
}

#breadcrumbsNav {
  display: inline-block;
}

#breadcrumbsList {
  display: inline;
  list-style: none outside none;
  padding: 0;
}

.breadcrumbsListItem {
  display: inline;
}

#footer {
  font-size: 10pt;
  border-top: 1px solid #ccc;
}

.contact {
  display: inline-block;
  margin-right: 3em;
}

#lastModified {
  display: inline-block;
}

#donate {
  position: absolute;
  top: 0;
  right: 0;
}

.COINWIDGETCOM_WINDOW {
  color: #000;
}

/*****************************************************************************/
/*
/* default
/*
/*****************************************************************************/
.projectsSection {
  /*display: table-cell;
  padding-right: 32px;*/
}

.projectsList {
  list-style-type: none;
}

/*****************************************************************************/
/*
/* project
/*
/*****************************************************************************/
#main {
  margin-bottom: 8px;
}

#infoTable td {
  border: solid 1px #000;
  padding: 4px;
}

#infoTable tr:nth-child(odd) {
  background-color: #444;
}

#infoTable tr:nth-child(even) {
  background-color: #666;
}

#share {
}
