---
layout: default
---
<section>
  <h1>$ cat intro.txt</h1>
  <p>I make stuff.</p>
</section>
{% for data_store in site.data.projects %}
<section class="projectsSection">
  <h1>$ ls {{ data_store[0] }}</h1>
  <ul class="projectsList">
    {% for project in data_store[1] %}
    {% unless project.show %}{% continue %}{% endunless %}
    <li class="projectsListItem">
      <a href="{{ project.name | downcase | split:' ' | join:'_' }}.html">{{ project.name }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
