---
layout: default
---
<section class="projectsSection">
  <ul class="projectsList">
{% for repo in site.github.public_repositories %}
    <li class="projectsListItem">
{% if repo.has_pages %}
      <a href="https://{{ site.github.html_url }}/{{ repo.name }}">{{ repo.name }}/</a> - {{ repo.description }}
{% elsif repo.homepage %}
      <a href="{{ repo.homepage }}">{{ repo.name }}/</a> - {{ repo.description }}
{% else %}
      <a href="{{ repo.html_url }}">{{ repo.name }}/</a> - {{ repo.description }}
{% endif %}
    </li>
{% endfor %}
  </ul>
</section>
