{% assign project = site.data.projects[page.type][page.data_id] %}
{% include top.html %}
<main id="main">
  <h1>$ cd {{ page.type}}/{{ project.name }}{% if project.version %}{% endif %}</h1>
  <p>{{ project.description | newline_to_br }}</p>
  <table id="infoTable">
    {% if page.type == 'games' %}
    <tr>
      <td>Genre</td>
      <td>{{ project.genre }}</td>
    </tr>
    {% endif %}
    {% if project.version %}
    <tr>
      <td>Version</td>
      <td>{{ project.version }}{% if project.release_date %} ({{ project.release_date }}){% endif %}</td>
    </tr>
    {% endif %}
    {% if project.requirements %}
    <tr>
      <td>Requirements</td>
      <td>{{ project.requirements | join:'<br/>' }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Code</td>
      <td><a href="http://www.github.com/filialpails/{{ project.repo }}">here</a></td>
    </tr>
  </table>
</main>
<div id="share"></div>
<div id="disqus_thread"></div>
<script>(function(){var dsq=document.createElement('script');dsq.async=true;dsq.src='//filialpails-github-io.disqus.com/embed.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(dsq);})();</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% include bottom.html %}
